Flow/Set_Account_End_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Number_Of_Days</name>
        <label>Add Number Of Days</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>PopulateAccountEndDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_End_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>endDate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Set Account End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Account End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_End_Date</name>
        <label>Update End Date</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Number_Of_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
